doctype 5
html(lang='zh-CN')
    head
        title Colorwork CI Server - Projects
        link(href="/css/bootstrap.min.css",rel="stylesheet",media="screen")
    body
        div.container
            div.navbar
                div.navbar-inner
                    a.brand Simple-CI
                    ul.nav
                        li.active
                            a(href='/') Home
                        if session.logined
                            li
                                a(href='/projects') Projects
                    ul.nav.pull-right
                        if session.logined
                            li
                                a= 'User: ' + session.username
                            button.btn(onclick="location.href='/logout'")
                                p Logout
                        else
                            button.btn(onclick="location.href='/login'")
                                p Login
            h2 System Infomation
            table.table.table-bordered
                each bline in hostinfo
                    tr.info
                        td= bline[0]
                        td= bline[1]
                        td= bline[2]
                        td= bline[3]

        include footer
